Source: web
Maintainer: Ralph Glass <ralph.glass@t-online.de>
Section: net
Priority: optional
Standards-Version: 3.9.4
Build-Depends: debhelper (>= 8)

Package: web
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libwebkitgtk-3.0-0, x11-xserver-utils, omxgtk
Description: minimal-web-browser
	intended as fast and featureless sidekick browser 
	(start up on raspberrypi less than a second)
